<mat-card>
    <mat-card-header>
        <h1><strong>Welcome</strong></h1>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-elevation">

            <h2>EveryThing At One Place</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repellendus voluptatum debitis doloremque amet maxime, dolor, modi eveniet reprehenderit, porro ipsa dolorum quasi velit quo iure doloribus et. Sapiente, omnis at doloribus asperiores soluta possimus nulla, laborum vitae enim, doloremque aut neque sunt ipsa? Voluptas esse hic nostrum assumenda mollitia deserunt aspernatur quia? Modi, obcaecati earum eos repellendus sapiente autem suscipit molestias ex facere enim.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quo perferendis id delectus illum iusto officiis quisquam est? Veritatis ut a at minus iste pariatur aliquam earum doloremque amet rerum tempora labore nostrum quas porro eos, delectus eius modi cumque itaque reiciendis. Voluptas ullam voluptatem cum aut ad consequuntur dignissimos exercitationem officiis non deleniti.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tempora ipsa ad sed explicabo facere placeat quae reiciendis assumenda, unde cumque consequuntur iure necessitatibus recusandae omnis, magnam quaerat similique error vitae, molestiae eum mollitia et soluta officiis. Alias asperiores eligendi minus blanditiis, excepturi hic minima?
            </p>

            
          
            
        </div>

          <div>
            
            <a routerLink="/login" mat-raised-button color="primary">Login</a>
          </div>
    </mat-card-content>
  </mat-card>